/*
Paars #5722CD;
Blauw #4845E4;
Roze #ED4385;
Zwart #0C0C0C (voor standaard tekst);
Lichtpaars #F2F0FF (voor de grote zwevende woorden, zoals "hello" en "services") Uitzonderingen:
Lichtgrijs #F3F6F9 (voor de achtergrond van de projecten)
Grijs #7A7A7A (voor de service-tegel tekst);
 */

/*////////////////////////
    Table of Contents
    1. Global Styles
    2. Typography
    3. Layout
        3.1 Reusables
        3.2 Other
    4. Areas
        4.1 Header
        4.2 Introduction
        etc.
    5. Media Queries
////////////////////////*/

/* ------------------------------- 1. Global Styles -------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
}

: root {
    --purple: #5722CD;
    --blue: #4845E4;
    --button-background-color: #ED4385;
    --default-text-color: #0C0C0C;
    --floating-text-color: #F2F0FF;
    --projects-background-color: #F3F6F9;
    --service-text-color: #7A7A7A;
}



/* ------------------------------- 2. Typography ----------------------------------- */

body {
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4 {
    font-family: 'Merriweather', serif;
}



/* ------------------------------- 3. Layout --------------------------------------- */

/* --------------- 3.1 Reusables ----------------------- */

.outer-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 2px solid deeppink;
}

.inner-container {
    flex-basis: 1200px;
    flex-grow: 0;
    flex-shrink: 1;
    margin: 0 20px;
    padding: 20px;
    border: 1px solid indigo;

    display: flex;
    flex-direction: column;
    align-items: center;
}

article {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* --------------- 3.2 Other --------------------------- */

.navigationbar {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    border: 1px solid red;
}

.menu-items {
    display: flex;
    flex-direction: row;
    flex-basis: 300px;
    justify-content: space between;
    gap: 30px;
    border: 1px solid blue;
}


/* ------------------------------- 4. Areas ---------------------------------------- */

/* --------------- 4.1 Header ------------------------- */

/* --------------- 4.2 Introduction ------------------- */

/* ------------------------------- 5. Media Queries -------------------------------- */